/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Mynerve&family=Rubik+Gemstones&family=Ubuntu:wght@300&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
}
.contact_image{
    width: 100px;
    height: 120px;
}